/**************/
/* CSS REMEDY */
/**************/
@font-face {
  font-family: "PixelifySans";
  src: url("./fonts/PixelifySans-VariableFont_wght.ttf");
}
@font-face {
  font-family: "hyper-street-fighter-2-anniversary-edition";
  src: url("./fonts/hyper-street-fighter-2-anniversary-edition.ttf");
}
/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --bg-color: rgb(7, 0, 131);
  --text-color: white;
  --text-shadow-color: black;
  --bg-color-selection: rgb(167, 87, 233);
  --border-color-hover: rgb(207, 25, 25);
  --border-color-hover-2P: rgb(23, 143, 243);
  --article-color: rgb(148, 18, 18);
  --button-selected-state: rgb(111, 51, 161);
  /* ... */
}

/* naar een idee van Jen Simmons */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 20em;
  cursor: url("/images/player_1_cursor.png") 28 28, auto;
}

body > section {
  background-image: url("../images/sf_worldmap/SF\ Map.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center top;
}

/* De achtergrond veranderd per button/wapen */
body.ryu > section {
  background-image: url("../images/sf_worldmap/SF\ Map_Japan.png");
}

body.vega > section {
  background-image: url("../images/sf_worldmap/SF\ Map_India.png");
}
body.elfuerte > section {
  background-image: url("../images/sf_worldmap/SF\ Map_Mexico.png");
}
body.ibuki > section {
  background-image: url("../images/sf_worldmap/SF\ Map_Japan.png");
}
body.balrog > section {
  background-image: url("../images/sf_worldmap/SF\ Map_England.png");
}
body.lily > section {
  background-image: url("../images/sf_worldmap/SF\ Map_American_Tribe.png");
}
body.deejay > section {
  background-image: url("../images/sf_worldmap/SF\ Map_Jamaica.png");
}
body.jaimie > section {
  background-image: url("../images/sf_worldmap/SF\ Map_China.png");
}

article {
  display: flex;
}

button:not([disabled]) {
  cursor: pointer;
}

img {
  max-width: 100%;
}

section > img {
  width: 15%;
  position: fixed;
  left: 3em;
  bottom: 3em;
}

/********************/
/* ALGEMENE STYLING */
/********************/
p {
  color: var(--text-color);
  font-family: PixelifySans;
}

h1 {
  position: absolute;
  animation-name: logo;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes logo {
  0% {
    width: 20%;
  }
  50% {
    width: 22%;
  }
  100% {
    width: 20%;
  }
}

h2 {
  margin: 0;
  color: var(--text-color);
  text-align: center;
  font-family: hyper-street-fighter-2-anniversary-edition;
  font-size: 2em;
  text-shadow: 2px 5px var(--text-shadow-color);
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body > section:nth-of-type(1) {
  align-content: end;
  gap: 5em;
  display: grid;
  place-items: center;
}

ul {
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
}

li {
  list-style: none;
}

li button {
  background-color: var(--bg-color-selection);
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  width: 8em;
  position: relative;
  margin: 1em;
  border: none;
}

li button.selected {
  background-color: var(--button-selected-state);
}

li button:hover {
  /* https://kovart.github.io/dashed-border-generator/ */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23DE1D1DFF' stroke-width='16' stroke-dasharray='53' stroke-dashoffset='26' stroke-linecap='square'/%3e%3c/svg%3e");
  border-color: var(--border-color-hover);
  cursor: url("/images/hadouken_cursor.png") 28 28, auto;
}

li button:hover::before {
  position: absolute;
  top: -0.6em;
  content: "1P";
  color: var(--border-color-hover);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: 2em;
}

li button img:hover {
  filter: drop-shadow(0 0);
}

li button:focus-visible {
  /* https://kovart.github.io/dashed-border-generator/ */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23178FF3FF' stroke-width='16' stroke-dasharray='52' stroke-dashoffset='25' stroke-linecap='square'/%3e%3c/svg%3e");
  border-color: var(--border-color-hover);
  outline: none;
}

li button:focus-visible::before {
  position: absolute;
  top: -0.75em;
  content: "2P";
  color: var(--border-color-hover-2P);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: 2em;
}

article {
  padding: 1em;
  background-color: var(--article-color);
  overflow-y: auto;
  height: 100vh;
}

article > img {
  position: absolute;
  width: 4%;
  right: 1em;
}

article ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

article ul li {
  width: 80%;
  display: flex;
  justify-content: start;
}

article ul li p {
  display: flex;
}
/* ... */

/* easter egg */
section > img.easteregg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  left: 0em;
  bottom: 0em;
}
